@mixin flexible($justify, $align, $dir) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}

.emoji {
    width: 3.55rem;
    height: 3.55rem;
}

.container {
    @include flexible(center, center, column);
    background: #d9d9d9;
    border-radius: 25px;
    width: 18rem;
    padding: 1rem 0;
    margin: 0 1rem;
}

.text {
    color: black;
    text-align: center;
}

.description {
    color: #414141;
    font-size: 0.66rem;
    text-align: center;
}